.modal {
    background: black url('../../img/backitems.png');
    width: 100%;
    height: -webkit-fill-available;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.exit {
    position: absolute;
    top: 25px;
    right: 25px;
    color: white;
    cursor: pointer;
    font-size: 30px;
}

.modal-text h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
}

.modal-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 15px;
}

.modal-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    width: 100%;
    gap: 5px;
}